[Unit]
Description=Access monitor service
After=network.target

[Service]
Type=simple
User=fileaccessmonitor
Group=fileaccessmonitor
ExecStart=/usr/bin/fileaccessmonitor

[Install]
WantedBy=multi-user.target

