Source: fileaccessmonitor
Section: unknown
Priority: optional
Maintainer: Alexander Kharitonov <askh@askh.ru>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/fileaccessmonitor
#Vcs-Git: https://salsa.debian.org/debian/fileaccessmonitor.git
Rules-Requires-Root: no

Package: fileaccessmonitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
